In [1]:
from poandy.controller.instrument import InstrumentController
from poandy.controller.account import AccountController
from poandy.util.utils import Utils

import pandas as pd

In [2]:
account_id = AccountController.get_default_account_id()

In [3]:
instruments = AccountController.get_tradeable_instruments(account_id, names_only=True)
instruments

['XAG_EUR',
 'CAD_SGD',
 'XAG_USD',
 'UK100_GBP',
 'GBP_NZD',
 'USB05Y_USD',
 'ZAR_JPY',
 'HK33_HKD',
 'EUR_HUF',
 'FR40_EUR',
 'EUR_DKK',
 'XAU_CHF',
 'XPD_USD',
 'BCO_USD',
 'IN50_USD',
 'NATGAS_USD',
 'USD_MXN',
 'GBP_USD',
 'NZD_HKD',
 'AUD_CHF',
 'CAD_JPY',
 'XCU_USD',
 'GBP_SGD',
 'USD_SEK',
 'AUD_HKD',
 'XAU_XAG',
 'AUD_NZD',
 'AUD_JPY',
 'EUR_ZAR',
 'CORN_USD',
 'XAG_NZD',
 'SGD_CHF',
 'AUD_SGD',
 'TWIX_USD',
 'EUR_JPY',
 'USD_CHF',
 'USD_TRY',
 'GBP_JPY',
 'EUR_CZK',
 'CHF_ZAR',
 'EUR_TRY',
 'USD_JPY',
 'USD_NOK',
 'USB02Y_USD',
 'TRY_JPY',
 'USD_DKK',
 'CHF_JPY',
 'EUR_PLN',
 'SUGAR_USD',
 'US2000_USD',
 'SGD_JPY',
 'AUD_CAD',
 'USB10Y_USD',
 'XAU_JPY',
 'XAG_GBP',
 'XAU_SGD',
 'XAU_NZD',
 'NZD_USD',
 'XAU_CAD',
 'NL25_EUR',
 'EUR_CHF',
 'NZD_SGD',
 'USD_HKD',
 'CHF_HKD',
 'USD_INR',
 'USD_CAD',
 'USD_CNH',
 'XAU_GBP',
 'XAG_JPY',
 'USD_CZK',
 'GBP_ZAR',
 'EUR_HKD',
 'XAU_HKD',
 'SPX500_USD',
 'HKD_JPY',
 'DE10YB_EUR',
 'NAS100_USD',
 'UK10YB_GBP',
 'EUR_AUD',
 'USD_SGD',
 'EUR_SEK',
 'WHEAT_USD',
 'XAU_AUD',
 'GBP_HKD',
 'EUR_NZD',
 'WTICO_USD',
 'XAG_AUD',
 'EUR_CAD',
 'USD_HUF',
 'USB30Y_USD',
 'NZD_CAD',
 'EUR_SGD',
 'AUD_USD',
 'XAG_CHF',
 'SOYBN_USD',
 'EUR_USD',
 'SG30_SGD',
 'GBP_AUD',
 'USD_PLN',
 'AU200_AUD',
 'SGD_HKD',
 'CAD_HKD',
 'US30_USD',
 'GBP_CAD',
 'USD_SAR',
 'GBP_PLN',
 'DE30_EUR',
 'EUR_NOK',
 'XAU_EUR',
 'XPT_USD',
 'XAU_USD',
 'NZD_CHF',
 'USD_ZAR',
 'NZD_JPY',
 'USD_THB',
 'GBP_CHF',
 'EU50_EUR',
 'CN50_USD',
 'XAG_CAD',
 'JP225_USD',
 'XAG_SGD',
 'EUR_GBP',
 'XAG_HKD',
 'CAD_CHF']

In [4]:
candles = InstrumentController.get_candles("USD_CAD", candle_params={"price": 'AMB', 'from': 1484265600})

In [5]:
candles.head()

,complete,volume,time,unixtime,mid.open,mid.high,mid.low,mid.close,bid.open,bid.high,bid.low,bid.close,ask.open,ask.high,ask.low,ask.close
0,True,10,2017-01-13 00:00:00,1484265600,1.31514,1.31516,1.31506,1.31506,1.31500,1.31503,1.31492,1.31492,1.31529,1.31530,1.31520,1.31520
1,True,20,2017-01-13 00:00:10,1484265610,1.31506,1.31516,1.31506,1.31515,1.31492,1.31502,1.31492,1.31502,1.31521,1.31529,1.31521,1.31528
2,True,14,2017-01-13 00:00:15,1484265615,1.31510,1.31510,1.31508,1.31508,1.31495,1.31497,1.31493,1.31494,1.31524,1.31524,1.31522,1.31522
3,True,8,2017-01-13 00:00:20,1484265620,1.31508,1.31508,1.31506,1.31508,1.31493,1.31496,1.31492,1.31496,1.31522,1.31522,1.31520,1.31520
4,True,8,2017-01-13 00:00:30,1484265630,1.31503,1.31508,1.31503,1.31508,1.31490,1.31496,1.31490,1.31496,1.31516,1.31521,1.31516,1.31521

In [6]:
candles.tail()

,complete,volume,time,unixtime,mid.open,mid.high,mid.low,mid.close,bid.open,bid.high,bid.low,bid.close,ask.open,ask.high,ask.low,ask.close
4995,True,2,2017-01-13 11:23:05,1484306585,1.31294,1.31294,1.31294,1.31294,1.31283,1.31283,1.31282,1.31282,1.31304,1.31305,1.31304,1.31305
4996,True,1,2017-01-13 11:23:15,1484306595,1.31290,1.31290,1.31290,1.31290,1.31278,1.31278,1.31278,1.31278,1.31301,1.31301,1.31301,1.31301
4997,True,5,2017-01-13 11:23:20,1484306600,1.31289,1.31290,1.31280,1.31280,1.31278,1.31278,1.31269,1.31269,1.31300,1.31301,1.31292,1.31292
4998,True,13,2017-01-13 11:23:30,1484306610,1.31276,1.31278,1.31274,1.31278,1.31266,1.31269,1.31263,1.31268,1.31287,1.31289,1.31285,1.31289
4999,True,3,2017-01-13 11:23:35,1484306615,1.31278,1.31279,1.31278,1.31279,1.31266,1.31269,1.31266,1.31269,1.31289,1.31289,1.31289,1.31289

In [7]:
candles = InstrumentController.get_candles("USD_CAD", candle_params={"price": 'AMB', 'from': candles["unixtime"].iloc[-1]})
candles.head()

,complete,volume,time,unixtime,mid.open,mid.high,mid.low,mid.close,bid.open,bid.high,bid.low,bid.close,ask.open,ask.high,ask.low,ask.close
0,True,3,2017-01-13 11:23:35,1484306615,1.31278,1.31279,1.31278,1.31279,1.31266,1.31269,1.31266,1.31269,1.31289,1.31289,1.31289,1.31289
1,True,7,2017-01-13 11:23:40,1484306620,1.31274,1.31281,1.31274,1.31281,1.31263,1.31270,1.31263,1.31270,1.31286,1.31292,1.31286,1.31292
2,True,11,2017-01-13 11:23:45,1484306625,1.31276,1.31282,1.31276,1.31282,1.31266,1.31272,1.31266,1.31272,1.31287,1.31294,1.31287,1.31292
3,True,4,2017-01-13 11:23:50,1484306630,1.31278,1.31281,1.31278,1.31281,1.31267,1.31270,1.31267,1.31270,1.31288,1.31292,1.31288,1.31292
4,True,2,2017-01-13 11:23:55,1484306635,1.31280,1.31281,1.31280,1.31281,1.31269,1.31270,1.31269,1.31270,1.31292,1.31292,1.31292,1.31292

In [8]:
orderbook = InstrumentController.get_orderbook("USD_CAD", df=False)
for k, v in orderbook.items():
    if type(v) == list:
        print(k, v[:10])
    else:
        print(k, v)

instrument USD_CAD
time 2020-10-14T20:20:00Z
unixTime 1602706800
price 1.31478
bucketWidth 0.00050
buckets [{'price': '0.00000', 'longCountPercent': '0.0553', 'shortCountPercent': '0.0301'}, {'price': '0.00050', 'longCountPercent': '0.0100', 'shortCountPercent': '0.0050'}, {'price': '0.00100', 'longCountPercent': '0.0000', 'shortCountPercent': '0.0050'}, {'price': '0.00200', 'longCountPercent': '0.0000', 'shortCountPercent': '0.0050'}, {'price': '0.00250', 'longCountPercent': '0.0050', 'shortCountPercent': '0.0000'}, {'price': '0.00500', 'longCountPercent': '0.0100', 'shortCountPercent': '0.0050'}, {'price': '0.01000', 'longCountPercent': '0.0050', 'shortCountPercent': '0.0151'}, {'price': '0.02000', 'longCountPercent': '0.0050', 'shortCountPercent': '0.0000'}, {'price': '0.05000', 'longCountPercent': '0.0000', 'shortCountPercent': '0.0100'}, {'price': '0.05200', 'longCountPercent': '0.0000', 'shortCountPercent': '0.0050'}]

In [9]:
orderbook = InstrumentController.get_orderbook("USD_CAD")
orderbook

             price  longCountPercent  shortCountPercent
0     0.000000e+00            0.0553             0.0301
1     5.000000e-04            0.0100             0.0050
2     1.000000e-03            0.0000             0.0050
3     2.000000e-03            0.0000             0.0050
4     2.500000e-03            0.0050             0.0000
...            ...               ...                ...
1922  6.021560e+07            0.0000             0.0050
1923  7.225872e+07            0.0000             0.0050
1924  8.671046e+07            0.0000             0.0050
1925  1.000000e+08            0.0000             0.0050
1926  1.000000e+09            0.0000             0.0100

[1927 rows x 3 columns]

In [10]:
position_book = InstrumentController.get_positionbook("USD_CAD", df=False)
for k, v in position_book.items():
    if type(v) == list:
        print(k, v[:10])
    else:
        print(k, v)

instrument USD_CAD
time 2020-10-14T20:20:00Z
unixTime 1602706800
price 1.31478
bucketWidth 0.00050
buckets [{'price': '1.18250', 'longCountPercent': '0.0000', 'shortCountPercent': '0.0063'}, {'price': '1.20650', 'longCountPercent': '0.0000', 'shortCountPercent': '0.0063'}, {'price': '1.20700', 'longCountPercent': '0.0063', 'shortCountPercent': '0.0000'}, {'price': '1.20800', 'longCountPercent': '0.0000', 'shortCountPercent': '0.0063'}, {'price': '1.21000', 'longCountPercent': '0.0000', 'shortCountPercent': '0.0188'}, {'price': '1.21050', 'longCountPercent': '0.0125', 'shortCountPercent': '0.0063'}, {'price': '1.21100', 'longCountPercent': '0.0063', 'shortCountPercent': '0.0000'}, {'price': '1.21150', 'longCountPercent': '0.0188', 'shortCountPercent': '0.0125'}, {'price': '1.21200', 'longCountPercent': '0.0125', 'shortCountPercent': '0.0000'}, {'price': '1.21250', 'longCountPercent': '0.0063', 'shortCountPercent': '0.0063'}]

In [11]:
positionbook = InstrumentController.get_positionbook("USD_CAD")
positionbook

      price  longCountPercent  shortCountPercent
0    1.1825            0.0000             0.0063
1    1.2065            0.0000             0.0063
2    1.2070            0.0063             0.0000
3    1.2080            0.0000             0.0063
4    1.2100            0.0000             0.0188
..      ...               ...                ...
487  1.4615            0.0063             0.0000
488  1.4630            0.0063             0.0063
489  1.4635            0.0063             0.0000
490  1.4645            0.0063             0.0000
491  1.4655            0.0063             0.0000

[492 rows x 3 columns]

In [12]:
historical_candles = InstrumentController.get_historical("USD_CAD", start="2020-09-01 00:00:00")

In [15]:
len(historical_candles)

234084

In [14]:
historical_candles.head(20)

,complete,volume,time,unixtime,mid.open,mid.high,mid.low,mid.close
0,True,12,2020-09-01 00:00:00,1598918400,1.30388,1.30388,1.30367,1.30367
1,True,1,2020-09-01 00:00:05,1598918405,1.30369,1.30369,1.30369,1.30369
2,True,2,2020-09-01 00:00:10,1598918410,1.30372,1.30374,1.30372,1.30374
3,True,1,2020-09-01 00:00:15,1598918415,1.30372,1.30372,1.30372,1.30372
4,True,2,2020-09-01 00:00:20,1598918420,1.30370,1.30370,1.30366,1.30366
5,True,3,2020-09-01 00:00:30,1598918430,1.30364,1.30369,1.30364,1.30369
6,True,6,2020-09-01 00:00:40,1598918440,1.30372,1.30376,1.30369,1.30369
7,True,2,2020-09-01 00:00:45,1598918445,1.30372,1.30374,1.30372,1.30374
8,True,4,2020-09-01 00:00:50,1598918450,1.30376,1.30378,1.30374,1.30374
9,True,2,2020-09-01 00:00:55,1598918455,1.30372,1.30374,1.30372,1.30374
10,True,4,2020-09-01 00:01:00,1598918460,1.30372,1.30376,1.30372,1.30374
11,True,3,2020-09-01 00:01:05,1598918465,1.30372,1.30372,1.30369,1.30371
12,True,2,2020-09-01 00:01:10,1598918470,1.30374,1.30376,1.30374,1.30376
13,True,4,2020-09-01 00:01:15,1598918475,1.30378,1.30383,1.30378,1.30381
14,True,1,2020-09-01 00:01:20,1598918480,1.30383,1.30383,1.30383,1.30383
15,True,2,2020-09-01 00:01:25,1598918485,1.30380,1.30384,1.30380,1.30384
16,True,4,2020-09-01 00:01:35,1598918495,1.30381,1.30383,1.30378,1.30378
17,True,1,2020-09-01 00:01:40,1598918500,1.30376,1.30376,1.30376,1.30376
18,True,1,2020-09-01 00:01:45,1598918505,1.30378,1.30378,1.30378,1.30378
19,True,1,2020-09-01 00:01:50,1598918510,1.30376,1.30376,1.30376,1.30376